@base: #ffffff;
@navBg: #444444;
@navDivider: #777777;

body{
  background-color: @base;
}

.contain-to-grid {
  background-color: @navBg;

  .top-bar {
    overflow: hidden;
    background-color: @navBg;
  }

  .top-bar-section {

    ul {

      li {
        border-color: @navDivider;
        background-color: @navBg;
        a {
          background-color: @navBg;
        }
      }

      li.username {
        line-height: 45px;
        font-size: 14px;
        color: white;
        padding: 0 10px;
      }
    }
  }
}

.bottom-bar{
position: fixed;
bottom: 0px;
width: 100%;
margin-bottom: 0px;
height: 20px;
background-color: @navBg;
}


.logo img{
  padding: 5px;
  height: 45px;

}

.hidden{
  display: none;
}

#login-error, #register-error, #upload-error ,#delete-error, #post-error {
  color: red;
}

#new-post textarea {
  height: 250px;
}

#postId {
  width: 50px;
}

.file-thumb {
  width: 150px;
}
