extends ../template/layout

block content
  .row
    .small-4.columns
      form#file-upload(action="/upload", method="post", enctype="multipart/form-data")
        input(id="postId", type="text", name="postId")
        input(id="file1", type="file", name="file1")
        input(id="file2", type="file", name="file2")
        a#savefiles.button.radius.success.small Upload Files
        p#upload-error
    .small-8.columns
      if images
        each image in images
          img(src='/uploads/' + image.postId + '/' + image.name)